apply plugin: 'com.android.application'

android {
    compileSdkVersion @@target_sdk@@
    defaultConfig {
        applicationId "@@package_name@@"
        minSdkVersion @@min_sdk@@
        targetSdkVersion @@target_sdk@@
        versionCode @@version_code@@
        versionName "@@version_name@@"
    }
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }    
    signingConfigs {
        release {
          if (project.hasProperty('PROCESSING_UPLOAD_KEYSTORE_FILE')) {
              storeFile file(PROCESSING_UPLOAD_KEYSTORE_FILE)
              storePassword PROCESSING_UPLOAD_STORE_PASSWORD
              keyAlias PROCESSING_UPLOAD_KEY_ALIAS
              keyPassword PROCESSING_UPLOAD_KEY_PASSWORD
          }
        }
    }
    buildTypes {
        debug {
            debuggable true
        }
        release {
            minifyEnabled false
            signingConfig signingConfigs.release
            proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
        }
    }
    lintOptions {
        abortOnError false
    }
    aaptOptions {
        noCompress "tflite"
        noCompress "lite"
    }    
}

dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.google.android.gms:play-services-wearable:@@play_services_version@@'
    implementation 'com.google.android.support:wearable:@@wear_version@@'
    compileOnly 'com.google.android.wearable:wearable:@@wear_version@@'
    implementation files('libs/processing-core.jar')
}
