mode/processing-core.zip
mode/mode/*.jar

mode/libraries/vr/library
mode/tools/SDKUpdated/tool

studio/.gradle
studio/.idea
studio/gradle
studio/gradlew*

**/*.iml
**/.DS_Store
**/build
**/bin
**/dist

**/local.properties
.gradle

