mode/processing-core.zip
mode/mode/*.jar

mode/libraries/vr/library
mode/tools/SDKUpdated/tool

core/debug/.gradle
core/debug/.idea
core/debug/gradle
core/debug/gradlew*

**/*.iml
**/.DS_Store
**/build
**/bin
**/dist

**/local.properties
.gradle

