package @@package_name@@;
        
import processing.android.@@watchface_classs@@;
import processing.core.PApplet;
        
public class MainService extends @@watchface_classs@@ {
  @Override
  public PApplet createSketch() {
    PApplet sketch = new @@sketch_class_name@@();
    @@external@@
    return sketch;
  }
}