/*
 * Copyright 2017 Google Inc. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
apply plugin: 'com.android.model.application'

model {
    android {
        compileSdkVersion @@target_sdk@@
        buildToolsVersion "@@build_tools@@"

        defaultConfig {
            applicationId "@@package_name@@"
            minSdkVersion.apiLevel @@min_sdk@@
            targetSdkVersion.apiLevel @@target_sdk@@
            versionCode @@version_code@@
            versionName "@@version_name@@"
        }

        buildTypes {
            release {
                minifyEnabled true
                proguardFiles.add(file('../../proguard-gvr.txt'))
            }
        }
    }
}

dependencies {
    compile 'com.google.vr:sdk-audio:@@gvr_version@@'
    compile 'com.google.vr:sdk-base:@@gvr_version@@'
    compile files('libs/processing-core.jar')
}
