package @@package_name@@;

import android.os.Bundle;
import android.content.pm.PackageManager;
import android.support.v4.app.ActivityCompat;
import android.support.v4.content.ContextCompat;
import java.util.ArrayList;
import android.app.AlertDialog;
import android.content.DialogInterface;
import android.Manifest;

import processing.cardboard.PCardboard;
import processing.core.PApplet;

public class MainActivity extends PCardboard {
  private static final String[] permissions = @@permissions@@;
  private static final int REQUEST_PERMISSIONS = 1;
  
  @Override
  public void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    PApplet sketch = new @@sketch_class_name@@();
    setSketch(sketch);
    init(sketch);
    setConvertTapIntoTrigger(true);
  }  
  
  // Requesting permissions from user when the app resumes.
  // Nice example on how to handle user response
  // http://stackoverflow.com/a/35495855   
  // More on permission in Android 23:
  // https://inthecheesefactory.com/blog/things-you-need-to-know-about-android-m-permission-developer-edition/en  
  @Override
  public void onStart() {
    super.onStart();    
    ArrayList<String> needed = new ArrayList<String>();
    int check;
    boolean danger = false;
    for (String p: permissions) {
      check = ContextCompat.checkSelfPermission(this, p);
      if (check != PackageManager.PERMISSION_GRANTED) {
        needed.add(p);
      } else {
        danger = true;
      }
    }
  
    if (!needed.isEmpty()) {
      ActivityCompat.requestPermissions(this, needed.toArray(new String[needed.size()]), REQUEST_PERMISSIONS);
    } else if (danger) {
      onPermissionsGranted();
    }
  } 
  
  @Override
  public void onRequestPermissionsResult(int requestCode,
                                         String permissions[], int[] grantResults) {      
    if (requestCode == REQUEST_PERMISSIONS) {      
      if (grantResults.length > 0) {
        boolean granted = true;    
        for (int i = 0; i < grantResults.length; i++) {              
          if (grantResults[i] != PackageManager.PERMISSION_GRANTED) {
            AlertDialog.Builder builder = new AlertDialog.Builder(this);
            builder.setMessage("Some permissions needed by the app were not granted, so it might not work as intended.")
              .setCancelable(false)
              .setPositiveButton("OK", new DialogInterface.OnClickListener() {
                public void onClick(DialogInterface dialog, int id) { }
              });  
            AlertDialog alert = builder.create();
            alert.show();
            granted = false;
            break; 
          }
        }
        if (granted) onPermissionsGranted();
      }
    }    
  } 
  
}