package @@package_name@@;

import android.os.Bundle;
import android.support.v7.app.AppCompatActivity;

public class HandheldActivity extends AppCompatActivity {  
  @Override
  protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    finish();    
  }
}