<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="@@package_name@@"
          android:versionCode="@@version_code@@"
          android:versionName="@@version_name@@">              
    <uses-sdk android:minSdkVersion="@@min_sdk@@" />    
    <application android:label="@@sketch_class_name@@"
                 android:icon="@drawable/icon">
        <meta-data android:name="com.google.android.wearable.beta.app"		
                   android:resource="@xml/wearable_app_desc"/> 
        <activity android:name=".HandheldActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
    </application>
</manifest>