<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package=""
          android:versionCode="1"
          android:versionName="1.0">              
    <uses-sdk android:minSdkVersion="@@min_sdk@@" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.software.vr.mode" android:required="false"/>
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />      
    <application android:label=""
                 android:icon="@drawable/icon"
                 android:theme="@style/VrActivityTheme">        
        <activity android:name=".MainActivity" 
                  android:screenOrientation="landscape" 
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:resizeableActivity="false"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" /> 
                <category android:name="com.google.intent.category.CARDBOARD" /> 
            </intent-filter>
        </activity> 
    </application>
</manifest>