package @@package_name@@;
        
import processing.android.PWallpaper;
import processing.core.PApplet;
        
public class MainService extends PWallpaper {  
  @Override
  public PApplet createSketch() {
    PApplet sketch = new @@sketch_class_name@@();
    @@external@@
    return sketch;
  }
}