apply plugin: 'com.android.application'

android {
    compileSdkVersion @@target_sdk@@
    buildToolsVersion "@@build_tools@@"
    defaultConfig {
        applicationId "@@package_name@@"
        minSdkVersion @@min_sdk@@
        targetSdkVersion @@target_sdk@@
        versionCode @@version_code@@
        versionName "@@version_name@@"
    }
    buildTypes {
        debug {
            debuggable true
        }    
        release {
            minifyEnabled false
            proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
        }
    }
}

dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:palette-v7:@@support_version@@'
    compile 'com.google.android.gms:play-services-fitness:@@play_services_version@@'
    compile 'com.google.android.gms:play-services-wearable:@@play_services_version@@'
    compile 'com.android.support:support-v13:@@support_version@@'
    provided 'com.google.android.wearable:wearable:@@wear_version@@'
    compile 'com.google.android.support:wearable:@@wear_version@@'    
    compile files('libs/processing-core.jar')
}
